<section>
    <div class="container text-center mx-auto py-5">
        <h2 class="px-5 text-light">No somos más que un grupo de inocentes y adorables seres intentando aprender a
            programar <i class="bi bi-laptop text-info"></i>
        </h2>
        <p class="text-success fw-bold textAbout">Da click en la imagen y conócenos!</p>
        

        <div class="py-5 imgAbout">
            <img src="/MicrosoftTeams-image (7).png" alt="Personajes anime" onclick="cambiarImagen(this)">
        </div>

        <div class="d-flex text-center align-items-center pt-5">
            <h4 class="text-light">Trabajo realizado con:</h4>
            <ul class="lista d-flex flex-wrap text-center mx-auto">
                <li><a href="https://developer.mozilla.org/es/docs/Web/HTML">HTML</a></li>
                <li><a href="https://developer.mozilla.org/es/docs/Web/CSS">CSS</a></li>
                <li><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap</a></li>
                <li><a href="https://developer.mozilla.org/es/docs/Web/JavaScript">Javascript</a></li>
                <li><a href="https://nodejs.org/en/docs">Node</a></li>
                <li><a href="https://expressjs.com/en/starter/hello-world.html">Express</a></li>
                <li><a href="https://handlebarsjs.com/">Handlebars</a></li>
                <li><a href="https://nodejs.org/api/fs.html">File System</a></li>
                <li><a href="https://expressjs.com/en/resources/middleware/cors.html">CORS</a></li>
                <li><a href="https://mochajs.org/">Mocha</a></li>                
            </ul>
        </div>
    </div>
</section>

<script>
    //cambiar imagen
    let imagenInicial = '/MicrosoftTeams-image (7).png';
    let contador = 0;

    function cambiarImagen(elemento_img) {
        let imagenes = [
            'MicrosoftTeams-image.png',
            'MicrosoftTeams-image (1).png',
            'MicrosoftTeams-image (2).png',
            'MicrosoftTeams-image (3).png',
            'MicrosoftTeams-image (5).png',
        ];

        if(contador == imagenes.length){
            elemento_img.src = imagenInicial;
            contador = 0;
        }else{
            elemento_img.src = imagenes[contador];
            contador++;
        };
    };
</script>

<style>
    a {
        color: pink;
        text-decoration: none;
        transition: 0.25s ease;
    }
    .lista li {
        margin: 20px;
    }
    .lista:hover a {
        color: blueviolet;
    }
    .lista:hover a:hover {
        color: chartreuse;
        box-shadow: 0 2px 0 0 currentColor;
    }
    .imgAbout {
        filter: drop-shadow(12px 12px 7px rgba(70, 69, 69, 0.7));
    }
    .textAbout{
        font-size: larger;
    }
    h4{
        white-space: nowrap;
    }
    

</style>