<footer class="py-5 text-center mx-auto">
    <p><span class="fw-bold">Realizado por: </span>Carlos, Darold, Jasmin, Kevin, Paloma.</p>
    <p class="small">Equipo kawaii, el n°1. (2023) <i class="bi bi-r-circle"></i></p>
</footer>

<style>
    footer {
        background-color: #FFB3BB;
    }
</style>