<nav class="navbar navbar-expand-lg {{background}}">
    <div class="container-fluid">
        <a class="navbar-brand mx-5" href="#">Animación Japonesa</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btnNav"><a class="nav-link active text-light" aria-current="page" href="/home">Home</a></button>
                </li>
                <li class="nav-item">
                    <button class="btnNav"><a class="nav-link text-light" href="/about">Conocenos</a></button>
                </li>
                <li class="nav-item">
                    <button class="btnNav"><a class="nav-link text-light" href="/animes">Animes</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }    

    .navbar {
        height: 11rem;
        background-image: url("/MicrosoftTeams-image (4).png");        
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        
    }

    .nav-link {
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 1;
        color: white;
        z-index: 1;
    }

    .nav-link:hover {
        opacity: 1;
        color: black;
    }

    .btnNav {
        background-color: transparent;
        border: none;
        z-index: 0;
    }

    .btnNav:hover {
        opacity: 0.6;
        background-color: pink;
        color: black;
        border-radius: 20px;
        padding: 5px;
        z-index: 0;
    }

    .navbar-brand {
        font-size: 2rem;
        color: rgb(226, 55, 140);
        font-weight: bold;
        margin-top: 100px;
    }

    .navbar-nav{
        margin-top: 100px;
    }

</style>